# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Database & local data files
*.db
*.sqlite3
*.xlsx
*.csv

# Logs
*.log

# Reports and notebooks
*.ipynb_checkpoints
reports/

# OS files
.DS_Store
Thumbs.db
